<div class="container">
    <h1>COLORS</h1>
    <div class="red">Div with color class</div>
    <div class="blue white-text darken-2">Div with color class</div>
    <div class="deep-purple white-text lighten-3">Colors</div>

    <h1>КНОПКИ</h1>
    <button class="btn waves-effect">READ MORE</button>
    <button class="btn waves-effect">READ MORE</button>
    <button class="btn btn-large waves-effect waves-light">READ MORE</button>
    <div class="btn disabled">Disabled</div>
    <a href="/articles" class="btn btn-large purple"><i class="material-icons left">cloud</i> READ MORE</a>

    <!-- FLOATING BUTTON  -->
    <a href="#" class="btn-floating red btn-large"><i class="large material-icons">add</i></a>

    <!--  FIXED ACTION BUTTON -->
    <div class="fixed-action-btn">
    <a href="#" class="btn-floating red btn-large"><i class="large material-icons">phone</i></a>
    <ul>
        <li><a href="#" class="btn-floating yellow btn hoverable"><i class="large material-icons">mode_edit</i></a></li>
        <li><a href="#" class="btn-floating blue btn-large"><i class="large material-icons">format_quote</i></a></li>
        <li><a href="#" class="btn-floating green btn pulse"><i class="large material-icons">publish</i></a></li>
        <li><a href="#" class="btn-floating orange btn-large"><i class="large material-icons">attach_file</i></a></li>
    </ul>
    </div>

    <!-- HELPERS  -->
    <h1>HELPERS</h1>

    <!-- alignment -->
    <div>
    <h3 class="left-align">Слева</h3>
    </div>
    <div>
    <h3 class="center-align">По центру</h3>
    </div>
    <div>
    <h3 class="right-align">Справа</h3>
    </div>

    <!--  navigation -->
    <nav>
    <div class="nav-wrapper black">
        <a href="#" class="brand-logo left">Logo</a>
        <ul id="nav-mobile" class="right hide-on-mobile">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        </ul>
    </div>
    </nav>
</div>